html{

    height: 100%;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../picture/background/1.png");
    background-repeat: no-repeat;
    background-position: 60%;
    background-size: cover;
    
    
  }

  .header{
    display:flex;
    align-content: center;
    justify-content: center;
    margin-top: 27px;
   


}

.home{
  padding-left: 20px;
}
@media only screen and (max-width: 1024px){
  .home{padding-left: 64px;
    padding-right: 46px;
  }
}
@media only screen and (max-width: 767px){
  .home{padding-left: 29px;
  margin-right: 60px;}
}

.secondenclose{
  display: flex;
  justify-content: space-around;
  width:315px;
  margin-top: 15px;
  margin-left: 85px;
}

@media only screen and (max-width: 1024px){
  .secondenclose{
    width:266px;
    margin-left: 46px;
    margin-right: 121px;
  }
}
  @media only screen and (max-width: 767px){
  .secondenclose{
    display: none;
  }
}
.about{
  padding-right: 6%;
}
.projects{
  padding-right: 6%;
}
.shop{
  padding-right: 6%;
}
.cart{
  margin-left: auto;
}
@media only screen and (max-width: 767px){
  .cart{
    display: none;
  }
}

.button{
  margin-left: 4%;
  top:40%;
  position: fixed;
  width: 100%;
}

.word{
  display:flex;
  align-items: center;
  flex-direction: column;  
  position: fixed;
  width: 100%;
  top:42%;
}

@media only screen and (min-width: 1025px){
  .word{
    right: 20%;
  }
}

.word img{
  max-width: 100%;
}

.word div {
  padding-left: 40px;
  padding-right: 40px;
}

.lastimage{
 position: absolute;
 right:0;
 bottom:0;
 margin-right: 20px;
 margin-bottom: 12px;
width:auto;
}
.list{
  display: none;
}

@media only screen and (max-width: 767px){
  .list{
    display: block;
    margin-right: 40px;
    margin-top: 18px;
  }
}
